/* MAIN GRID */
.home-grid{
    display: grid;
    grid-template-areas: 
    "navbar navbar"
    "intro-text image"
	"footer footer";
    grid-template-rows: 75px 1fr;
	min-height: 100vh;
    background-color: var(--background-color);
}