/* MAIN GRID */
.home-grid{
    display: grid;
    grid-template-areas: 
    "navbar navbar"
    "intro-text image"
	"footer footer";
    grid-template-rows: 75px 1fr;
	min-height: 100vh;
    background-image: url('../assets/background.svg');
    background-size: cover;
    background-position: center;
}