/* MAIN GRID */
.terminal-grid{
    display: grid;
    grid-template-areas: 
    "navbar" 
    "terminal";
	
    grid-template-rows: 75px 1fr;
	min-height: 100vh;
    background-color: var(--background-color);
}